.compB {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    max-height: 100%;
    span {
        font-size: 1.6rem;
    }
    span:hover {
        transition: all 0.2s ease-out;
        color: blue;
    }
}
