.compB {
    display: flex;

    align-items: center;
}
.linkContainer {
    cursor: pointer;
    color: #fff;
    position: relative;
    padding: 20px 80px;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}
.linkContainer:hover {
    background-color: var(--grayColor);
}
.linkContainer:hover .notification {
    display: block;
}
.notification {
    display: none;
    padding: 10px 20px;
    position: absolute;
    background-color: #fdfd6f;
    border-radius: 5px;
    color: var(--darkColor);
    font-size: 1.3rem;
    font-weight: 500;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 5px var(--darkColor);
}
